<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <title>Login Form Demo</title>
</head>
<body>
    <center><h1>Automatic Number Plate Recognition </h1></center>

    <div class="box">
        <form  method="post" class="form" action="car-details" enctype="multipart/form-data">
            <div class="container">
            <input  type="file" class="upload-field" name="upload" accept="image/*" id='upload_file'  >
            <br>
            <br>
            <input type="submit" class="submit" >
            </div>
        </form>
        
        
      </div>
      <div class="outer_output">
      <div class="output">
        <pre>
          <div id="d1" class="output1"><b><h2>Car Details....</h2><br>{{output}}</div>
       </pre>
    
      </div>
    </div>
      

      
</body>
</html>